.form{
     font-family: 'Times New Roman', Times, serif; 
    max-width: 600px;
    border:1px solid black;
    padding: 2rem;
    
}
label{
    display: block;
    padding: .25rem 0;
}
input,select{
    display: block;
    width: 100%;
    border: 2px solid rgb(145, 159, 219);
    padding: .25rem;
    font-size: 16px;
}
.submit{
    border: 0;
    background-color: rgb(143, 125, 125);
    padding: .5rem;
    color: white;
    margin: 1 rem 0;
    width: auto;
    text-transform: uppercase;
    }
    .submit:hover
    {
        cursor: pointer;
        background-color: rgb(103, 103, 223);
    }
    
    .tablestyle {
        width: 100%;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-collapse: collapse;text-align: center;
     
      }
        
      table {
        border: 2px solid rgb(10, 9, 8);
        width: 1000px;
        height: 50px;
      }
      th{
        background-color: rgb(255, 136, 136);
        padding: 2px;
      }
        
       tr td{
        padding: 2px;
      }
      .tablestyle tr:nth-child(even){background-color: #ffd2d2;}

    
    